body {
  background-image: url("itachi.jpg");
  background-size: cover;
  color: #EBC944;
}
blockquote {
  position: fixed;
  max-height: 20%;
  margin-left: 32%;
  width: 36%;
  font-style: italic;
  font-size: 150%;
  text-align: center;
}
button {
  position: relative;
  width: 20%;
  height: 10%;
  margin-left: 40%;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  border: solid;
  border-color: inherit;
  border-radius: 4%;
  color: inherit;
  font-size: 1.7vw;
  padding: inherit;
  transition: all 0.5s;
}
button:hover {
  background-color: #EBC944;
  color: #000000;
  transition: all 0.5s;
}
#info {
  top: 20%;
}
#acads {
  top: 30%;
}
#hobby {
  top: 40%;
}
a {
  color: inherit;
}
#abtme {
  display: none;
}
#contactinfo {
  position: fixed;
  bottom: 5%;
  font-style: italic;
  width: 20%;
  margin-left: 40%;
  text-align: center;
  font-size: 150%;
}
